.ChartBlock{
    width: 50%;
    display: flex;
  }
  .QuestionsBlock{
    width: 50%;
  }
  
  .QuestionsBlock ul{
    list-style-type: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .QuestionsBlock li{
    padding: 5px 0 15px;
    border-bottom: 1px solid #ddd;
    margin: 0 0 5px;
  }
  .QuestionsBlock p{
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 5px;
    font-size: 19px;
  }
  .ChartPie {
      outline: 2px red;
      display: block;
      position: relative;
      margin: 0 auto;
      width: 100%
  }
  
  .ChartPie:before {
      content: "";
      display: block;
      padding-top: 100%
  }
  
  .ChartPieChunk {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%
  }
  
  .Slice {
      transition: transform .5s;
      transform-origin: center center
  }
  
  /* Range input */
  .rangeInput {
    margin-top: 2px;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .rangeInput:hover {
    opacity: 1;
  }
  
  .rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
  }
  
  .rangeInput::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
  }